@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  height: 100vh;
  background-color: #d9d9d9;
  font-family: "Inter", sans-serif;
}

.background-image {
  padding: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.nav {
  position: sticky;
  display: flex;
  width: 100%;
  height: 5rem;
  background: #4e5874;
  border: none;
  padding: 2rem;
  align-items: baseline;
  border-radius: 1rem 1rem 0 0;
}

.nav .logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.sidebar {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 20rem;
  height: 100vh;
  background: #c8d0d1;
  border-right: 0.5px solid #eaeaea;
  color: #fff;
  padding: 20px;
}

.main-container {
  position: relative;
  display: flex;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 2rem;
  flex-direction: column;
  background: linear-gradient(
    299.17deg,
    #1b183a 9.97%,
    rgba(27, 24, 58, 0.507918) 105.94%,
    rgba(28, 25, 59, 0) 120.96%,
    rgba(31, 30, 42, 0.479167) 120.98%
  );
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
}
.align-center {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-left: 10rem;
}
/* style elements in dashboard */
.dashboard {
  display: flex;
  width: 100vw;
  height: 10rem;
  inset: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background: #374562;
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  justify-content: space-around;
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 1rem;
}
/* style elements in balance */
.balance-container {
  display: flex;
  width: 19rem;
  height: 14rem;
  background: #47496a;
  border: 1px solid #494b6b;
  border-radius: 16px;
  align-items: center;
}
.balance {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.title-balance {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  line-height: 27px;
  margin-bottom: 2rem;
}
.remain-balance {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  display: flex;
  color: #1cfece;
}
/* style elements in percentage budget */
.add-budget {
  font-size: 2rem;
  margin-left: 1rem;
}

.progress-display {
  margin-left: 2rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
}
.progress-name {
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 16px;
  line-height: 19px;
  color: #979797;
}
.title-budget {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.progress-budget {
  display: flex;
  flex-direction: column;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.pourcentage {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  color: #e89093;
}
.progress-barb {
  position: relative;
  overflow: hidden;
  width: 9rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 20px;
}
.progress-bar-fill {
  position: absolute;
  height: 100%;
  background: linear-gradient(
    270deg,
    #2ecc71 0%,
    rgba(46, 204, 113, 0.607418) 67.87%,
    rgba(46, 204, 113, 0) 110.68%
  );
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: width 0.5s ease-out;
}

.budget-container {
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 7rem;
  background: #47496a;
  border: 1px solid #494b6b;
  border-radius: 10px;
}
.title-container {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  color: #ffffff;
}

.amount-container {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: #ffffff;
}

/* style elements in main sider */
.main-sidebar {
  flex-shrink: 0;
  display: flex;
  background: #e3e7e7;
  border-right: 0.5px solid #eaeaea;
  box-sizing: border-box;
  padding: 1rem;
  flex-direction: column;
}

.add-expense {
  width: 16rem;
  height: 3rem;
  background: #f3f3f3;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-bottom: 3rem;
}

.current-exp {
  width: 16rem;
  height: 14rem;
  background: #d7dddd;
  border-radius: 16px 0px 0px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.current-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  align-items: center;
  background: #eaffe0;
  border-radius: 16px 0px 0px 0px;
}
.current-info {
  display: flex;
  flex-direction: column;
  line-height: 2;
  justify-content: center;
  padding: 1rem;
}
.current-info span {
  font-weight: bolder;
}
/* style elements table */
.table-container {
  background: linear-gradient(
    90deg,
    #656d87 0%,
    rgba(83, 95, 125, 0.65) 23.2%,
    #405173 100%
  );
  border-radius: 0 0 20px 20px;
}

.table-container th {
  background-color: #656d87;
  border: none;
}

.tabledata {
  /* flex: 1; */
  background-color: transparent;
  width: 100%;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}

.table-container th p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.table-container td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: none;
}

.table-container .css-rduj6b-MuiPaper-root-MuiTableContainer-root {
  border-radius: 0 0 20px 20px;
}
/* .table-container td:hover {
  background: #eaffe0;
} */
.row-cell {
  display: flex;
  align-items: center;
}
.row {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.tabBar {
  display: flex;
  width: 100%;
  height: 4rem;
  flex-direction: row;
  padding-left: 1rem;
  align-items: center;
  background-color: #656d87;
  border-radius: 20px 20px 0px 0px;
}

.tabBar a {
  display: flex;
  gap: 0.5rem;
  color: white;
  align-items: center;
}
/* .tab {
  display: flex;
  width: 13rem;
  height: 4rem;
  background: #c8cfcf;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
} */
/* style elements form */
.close-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.close-btn {
  color: #e89093;
  font-size: 1.1rem;
}
.forms {
  position: absolute;
  display: block;
  width: 300px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;

  box-shadow: 5px 6px 8px 3px rgba(0, 0, 0, 0.25);
  z-index: 50;
  position: absolute;
  top: 10%;
  left: 45%;
}

.form-expense {
  top: 28.5%;
  left: 35%;
}
form {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px #ccc;
  font-size: 16px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px #ccc;
  font-size: 16px;
}

input[type="submit"] {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* .nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 5rem;
  background-color: #fff;
  box-shadow: 4px 4px 6px rgb(40, 34, 34);
  padding: 2rem;
  position: relative;
}

.nav .logo {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.nav .nav-link {
  display: flex;
}

.nav .nav-link a {
  margin: 1rem;
  text-decoration: none;
}

.table-container .subtitle {
  margin-left: 19.5rem;
  font-size: 1.5rem;
  color: #acacac;
}
.table-container {
  width: 80rem;
  margin: 0 auto;
  color: #fff;
  margin-top: 10rem;
  transform: translateX(110px);
}
.sidebar {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

@media (width <1489px) {
  .table-container {
    width: 60rem;
    transform: translateX(150px);
  }
}
@media (width <1330px) {
  .table-container {
    width: 50rem;
  }
}

@media (width <1130px) {
  .table-container {
    width: 30rem;
    transform: translateX(100px);
  }
  .table-container .subtitle {
    margin-left: 5.5rem;
    font-size: 1.5rem;
    color: #acacac;
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #444;
}
.forms {
  display: block;
  width: 300px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  left: 15.5rem;
  top: 5rem;
  box-shadow: 5px 6px 8px 3px rgba(0, 0, 0, 0.25);
  z-index: 30;
  position: absolute;
}

body .table-container * {
  color: #fff;
}
h1 {
  font-size: 3rem;
}
a.add-ex {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  font-size: 1.2rem;
  cursor: pointer;
}

.table-container .btn-ic {
  cursor: pointer;
  font-size: 1.3rem;
}



.row {
  display: none;
  justify-content: baseline;
  align-items: baseline;
  align-content: start;
}
.add-btn {
  padding: 10px;
  border: none;
  background-color: #4b4964;
  color: #fff;
}

.btn:active,
.add-btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.table-container th,
.table-container td {
  padding: 1rem;
}
.table-container th {
  font-weight: 600;
}
 */
